<mat-toolbar class="mat-elevation-z4">
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span class="spacer"></span>
	<img class="logo" src="/assets/logo.png">
	<span class="spacer"></span>
	<app-user-nav></app-user-nav>
</mat-toolbar>

<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav mode="side">
	<app-menu></app-menu>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
